[django]
SECRET_KEY = "enter_your_secret_key"
ALLOWED_HOSTS = ["127.0.0.1", "localhost"]
DEBUG = false
ADMINS = ["admin1@mydomain.com", "admin2@mydomain.com" ]

[meetings]
ORGANIZER_NAME = 'Your Name'
ORGANIZER_EMAIL = 'admin1@mydomain.com'
ORGANIZER_GREETING = "Shortened version of your name for greetings"
BOOKING_TYPES = {
    "project": {
        "description": "Undergraduate Project"
        "duration": 30,          # Duration of the meeting slots, in minutes
        "slots": 30,             # Interval between slots on booking page, in minutes
        "location": "My office", # Location of the meeting
        "lead_time": 2,          # Allow bookings 2 hours from current time.
        "future_limit": 21,      # Allow bookings only up to 21 days ahead.
        "hidden": true           # If hidden, this event will not appear on the index page.
    },
    "tutorial": {
        "description": "Tutorial"
        "duration": 30,
        "slots": 30,
        "location": "My office",
        "lead_time": 2,
        "future_limit": 21,
        "hidden": false
    },
    "phd": {
        "description": "PhD meeting"
        "duration": 60,
        "slots": 30,
        "location": "My office",
        "lead_time": 2,
        "future_limit": 0,
        "hidden": false
    }   
}

[email]
USE_SSL = true
ADDRESS = "appointments@mydomain.com"
HOST = "mail.mydomain.com"
PORT = 465
HOST_USER = "appointments@mydomain.com"
HOST_PASSWORD = "mail_password"

[cronofy]
# This is your access token from Cronofy
ACCESS_TOKEN = "cronofy_access_token"

[calendar]
# Timezone in which to create bookings and display booking times.
TIMEZONE = "Europe/London"
# Calendars against which we should check for schedule conflicts.
CHECK = [ "Calendars", "to", "check", "schedule", "for" ]
# Calendar in which to create bookings.
BOOK = "Calendar to book events in"
# Show tooltips which explain why slots are unavailable
SHOW_REASONS = false
# Name events in the calendar that conflict with unavailable slots.
SHOW_CONFLCTING_EVENTS = false

[availability]
# Define your regions of availability as a simple comma-separated string of time
# ranges, similar to those shown below. "none" or "" means that day is entirely
# unavailable.
MON = "09:30-12:30, 13:30-16:30"
TUE = "09:30-12:30, 13:30-16:30"
WED = "09:30-12:30, 13:30-16:30"
THU = "09:30-12:30, 13:30-16:30"
FRI = "09:30-12:30, 13:30-16:30"
SAT = "None"
SUN = "None"